* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
  --sgrid-primay-color: black;
  --sgrid-primay-hover-color: #615e5e;
  --sgrid-primary-choose-color: darkred;
  --el-color-primary-light-3: var(--sgrid-primay-hover-color);
  --el-color-primary: var(--sgrid-primay-color);
  .el-checkbox {
    --el-checkbox-checked-bg-color: var(--sgrid-primay-hover-color);
    --el-checkbox-checked-input-border-color: var(--sgrid-primay-hover-color);
  }
  .el-button {
    --el-button-hover-text-color: #ffffff;
    --el-button-active-border-color: var(--sgrid-primay-hover-color) !important;
  }
}

#nprogress .bar {
  background: rgb(207, 15, 124) !important;
}
